#container {
    background: tomato;
    display: flex;
    min-width: 400px;
    max-width: 850px;
    min-height: 500px;
    justify-content: stretch;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    /* border: 5px black; */
    border-color: black;
    border-style: solid;

}
.item {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 200px;        
    height: 200px;
    background: aquamarine;
    margin: 5px 5px 5px;
}

.block {
    position: relative;
    text-align: center;    
    line-height: 200px;
    font-size: 7em;
    width: 100%;
    height: 100%;
    padding: 5;
    overflow: hidden;
    -webkit-transition: left 1s, top 1s;
    -moz-transition: left 1s, top 1s;
    transition: left 1s, top 1s;
    transition-timing-function: linear;
}

.val1 {
    background-color: #EAF7CF;
}
.val2 {
    background-color: #B9314F;
}
.val4 {
    background-color: #CEB5A7;
}
.val8 {
    background-color: #6457A6;
}
.val16 {
    background-color: #ADAABF;
}
.val32 {
    background-color: #642CA9;
}
.val64 {
    background-color: #FF36AB;
}
.val128 {
    background-color: #FF74D4;
}
.val256 {
    background-color: #120309;
}
.val512 {
    background-color: #2E0F15;
}
.val1024 {
    background-color: #2BA84A;
}
.val2048 {
    background-color: #248232;
}
